.container {
  width: 100%;
  padding: 7px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
}

.chevron {
  position: absolute;
  right: 3px;
  top: 9px;
}
