.container {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}
.input {
  height: 85%;
  width: 85%;
  border: none;
  font-size: 1rem;
  color: rgb(41, 41, 41);
  padding: 5px;
  resize: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
  color: rgb(102, 102, 102);
}

.icon:hover {
  background-color: rgb(233, 233, 233);
}
